.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}
.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 10px;
}
.sidebar__avatar {
  margin-bottom: 10px;
}
.h4 {
  font: 12px;
  color: gray;
}
.sidebar__top img {
  width: 100%;
  height: 100px;
  margin-bottom: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.sidebar_stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sidebar_stat {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar_stat p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}
.sidebar_statnumber {
  font-weight: bold;
  color: #0a66c2 !important;
}
.sidebar__bottom {
  text-align: left;
  padding: 5px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
}
.sidebar__recentitems{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
}
.paragraph{
    padding: 2px 0px;
}
.paragraph:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}